<div class="container">
  <input
    class="input"
    type="text"
    [placeholder]="'Type to search...'"
    [formControl]="inputControl"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    (keydown)="onKeyDown($event)"
  />
  <ul *ngIf="isDropdownOpen() && filteredData().length > 0" class="dropdown">
    <li class="list"
      *ngFor="let item of filteredData(); let i = index"
        (click)="selectItem(item)"
        [class.active]="i === currentSelectionIndex()">
      {{ item.title }}
    </li>
  </ul>
</div>
